<div th:fragment="user_navs(userInfo)">
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col">
                <h1>User information-page</h1>
                <div class="tab-content">
                    <div class="tab-pane active" id="usersTable" role="tabpanel" aria-labelledby="home-tab">

                        <!--ТАБЛИЦА-->

                        <div class="border rounded mt-3" th:insert="parts/user/user_info_table/user_info_table :: user_info_table(userInfo=${userInfo})"></div>

                        <!--ТАБЛИЦА КОНЕЦ-->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>