<div th:fragment="new">
    <div class="container-fluid rounded">
        <div class="row">
            <div class="col border-bottom rounded-top bg-light pt-2">
                <p class="h5" style="text-indent: 5px;">
                    Add new user
                </p>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <form th:method="POST" th:action="@{/admin/save}" th:object="${new_user}">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="form-group mt-3" style="width: 300px; height: 25px">
                    <div class="d-flex justify-content-center">
                        <label for="firstName" class="mb-0 font-weight-bold">First name</label>
                    </div>
                    <input type="text" class="form-control form-control-sm" th:field="*{firstname}" id="firstName"
                           placeholder="First name">
                </div>
                <div class="form-group mt-4" style="width: 300px; height: 25px">
                    <div class="d-flex justify-content-center">
                        <label for="lastName" class="mb-0 font-weight-bold">Last name</label>
                    </div>
                    <input type="text" class="form-control form-control-sm" th:field="*{lastname}" id="lastName"
                           placeholder="Last name">
                </div>
                <div class="form-group mt-4" style="width: 300px; height: 25px">
                    <div class="d-flex justify-content-center">
                        <label for="age" class="mb-0 font-weight-bold">Age</label>
                    </div>
                    <input type="number" class="form-control form-control-sm" th:field="*{age}" id="age"
                           placeholder="Age">
                </div>
                <div class="form-group mt-4" style="width: 300px; height: 25px">
                    <div class="d-flex justify-content-center">
                        <label for="email" class="mb-0 font-weight-bold">Email</label>
                    </div>
                    <input type="text" class="form-control form-control-sm" th:field="*{email}" id="email"
                           placeholder="Email">
                </div>
                <div class="form-group mt-4" style="width: 300px; height: 25px">
                    <div class="d-flex justify-content-center">
                        <label for="password" class="mb-0 font-weight-bold">Password</label>
                    </div>
                    <input type="text" class="form-control form-control-sm" th:field="*{password}" id="password"
                           placeholder="Password">
                </div>

                <div class="form-group mt-4" style="width: 300px;">
                    <div class="d-flex justify-content-center">
                        <label for="password" class="mb-0 font-weight-bold">Role</label>
                    </div>
                    <select class="custom-select" id="role" th:field="*{roles}" multiple style="height: 60px;">
                        <option th:each="role : ${roles}" th:value="${role.id}"
                                th:text="${role.rolesToString()}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Add new user</button>
            </div>
        </form>
    </div>
</div>
