<div th:fragment="admin_navs">
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs mt-3">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#usersTable" role="tab"
                           aria-controls="home" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#newUser" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="usersTable" role="tabpanel" aria-labelledby="home-tab">

                        <!--ТАБЛИЦА-->

                        <div class="border rounded" th:insert="parts/admin/users_table/users_table :: users_table"></div>

                        <!--ТАБЛИЦА КОНЕЦ-->
                    </div>


                    <!--ДОБАВЛЕНИЕ ПОЛЬЗОВАТЕЛЯ-->

                    <div class="tab-pane" id="newUser" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="border rounded bg-white" th:insert="parts/admin/users_table/new :: new"></div>


                    </div>

                    <!--ДОБАВЛЕНИЕ ПОЛЬЗОВАТЕЛЯ КОНЕЦ-->

                </div>
            </div>
    </div>
    </div>
</div>