<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div style="position: absolute; top: 10px; right: 10px;">
    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>
<div class="container">
    <a th:href="@{/user}" class="btn btn-primary mt-3 mb-3">My account</a>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${admin}">
            <td>
                <a th:href="@{/admin/user(id=${user.getId()})}" class="btn btn-link">
                    <span th:text="${user.getId()}"></span>
                </a>
            </td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <a th:href="@{/admin/edit(id=${user.getId()})}" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a th:href="@{/admin/remove(id=${user.getId()})}" class="btn btn-primary">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/new}" class="btn btn-primary">Add</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>