<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 20px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="username">Username </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Password </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label>Roles:
        <span th:each="role : ${roles}" th:id="'role-' + ${role.id}">
            <input type="checkbox" name="selectedRoleIds"
                   th:value="${role.id}"
                   th:checked="${user.roles?.contains(role)}"
                   th:id="'role-checkbox-' + ${role.id}"
            />
            <label th:for="'role-checkbox-' + ${role.id}" th:text="${role.name}"></label>
        </span>
    </label>
    <br/>
    <input type="submit" value="Изменить"/>
</form>

</body>
</html>