<div class="container border bg-white rounded" id="users"
     style="padding-left: 0; padding-right: 0" th:fragment="user_info_table(userInfo)">
    <div class="container border-bottom " id="users2"
         style=" height: 45px; background-color: #f8f9fa; padding-top: 10px">
        <p class="h5" style="text-indent: 5px;">
            About user
        </p>
    </div>
    <div class="container bg-white"
         style="padding-left: 15px; padding-right: 15px; padding-bottom: 20px;">
        <table class="table table-striped mt-3 border-top">
            <thead>
            <tr>
                <th scope="col" class="align-middle">ID</th>
                <th scope="col" class="align-middle">First Name</th>
                <th scope="col" class="align-middle">Last Name</th>
                <th scope="col" class="align-middle">Age</th>
                <th scope="col" class="align-middle">Email</th>
                <th scope="col" class="align-middle">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${userInfo}">
                <td class="align-middle" th:text="${user.id}"></td>
                <td class="align-middle" th:text="${user.firstname}"></td>
                <td class="align-middle" th:text="${user.lastname}"></td>
                <td class="align-middle" th:text="${user.age}"></td>
                <td class="align-middle" th:text="${user.email}"></td>
                <td class="align-middle" th:text="${user.getRolesString()}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>