<div th:fragment="user_info_table(userInfo)">
    <div class="container-fluid bg-white rounded pr-3 pl-3">
        <div class="row">
            <div class="col border-bottom rounded-top bg-light pt-2">
                <p class="h5" style="text-indent: 5px;">
                    About user
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row bg-white rounded p-1">
            <div class="col-12 mt-3 mb-2">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="align-middle">ID</th>
                            <th scope="col" class="align-middle">First Name</th>
                            <th scope="col" class="align-middle">Last Name</th>
                            <th scope="col" class="align-middle">Age</th>
                            <th scope="col" class="align-middle">Email</th>
                            <th scope="col" class="align-middle">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${userInfo}">
                            <td class="align-middle" th:text="${user.id}"></td>
                            <td class="align-middle" th:text="${user.firstname}"></td>
                            <td class="align-middle" th:text="${user.lastname}"></td>
                            <td class="align-middle" th:text="${user.age}"></td>
                            <td class="align-middle" th:text="${user.email}"></td>
                            <td class="align-middle" th:text="${user.getRolesString()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>